# ─── App ──────────────────────────────────────────────────────────────────────
NODE_ENV=development
PORT=3002

# ─── MongoDB ──────────────────────────────────────────────────────────────────
MONGODB_URI=mongodb://127.0.0.1:27017/cinebook

# ─── Kafka ────────────────────────────────────────────────────────────────────
KAFKA_BROKERS=localhost:9092
KAFKAJS_NO_PARTITIONER_WARNING=1

# ─── Razorpay ────────────────
RAZORPAY_KEY_ID=rzp_test_XXXXXXXXXXXXXXXX
RAZORPAY_KEY_SECRET=XXXXXXXXXXXXXXXXXXXXXXXX
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret_here

# ─── CORS ─────────────────────────────────────────────────────────────────────
TRUSTED_ORIGINS=http://localhost:3000