# ─── App ──────────────────────────────────────────────────────────────────────
NODE_ENV=development
PORT=3003

# ─── MongoDB ──────────────────────────────────────────────────────────────────
MONGODB_URI=mongodb://127.0.0.1:27017/cinebook

# ─── CORS ─────────────────────────────────────────────────────────────────────
TRUSTED_ORIGINS=http://localhost:3000